.h1{
    text-align: center;
}

.caixa{
    background-color:aqua;
    width: 250px;
    height: 500px;
    float: left;
    margin: 5px;
}

.caixa 2{
    background-color:azure;
    width:500px;
    height: 500px;
    float: right;
    margin:50px;
}
.contenidor{
    width: 500px;
    height:500px;
}

   


   

ul{
list-style: none;
margin: 10px;
padding: 10px;
line-height: inherit;


}
li{
background: #ee7ee5;


}


a :hover{


   background: #ee7ee5;
}


ul li:first-child {
background: #e789e0e5;
}


ul li:first-child a{
 background:#e789e0e5;
    
}


ul li :first-child a:hover{
   color: beige;
}


ul li :first-child  a:active{
   color: blanchedalmo

}
 