body{
    background-color: blueviolet;
    background-size: cover;
}


nav{
    max-width: 900 px;
    margin:auto;
    background-color:#333 ;
    font-size: 20 px;
    margin-top: 50 px;
}

.menu1{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu1 > li > a{
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
}



.menu1 > li:hover{
    background-color: red;
}

.menu1{
position: absolute;
display: none;
list-style: none;
width: 200 px;
background-color:rgba(0,0,0, .5);
}
.menu1 li: hover .menu1{
    display: block;
}

.menu1 li:hover{
    background-color: black;
}

.menu1 li a{
    display: block;
    color: antiquewhite;
    padding: 15px 15px 15px 25px;
}