.h1{
    text-align: center;
    text size: 15px;
}

.caixa1{
    background-color:aqua;
    width: 200px;
    height: 200px;
    float: left;
    margin: 5px;
}

.caixa2{
    background-color:azure;
    width:200px;
    height: 200px;
    float: left;
    margin:5px;
}